@import url('https://fonts.googleapis.com/css2? family= Ubuntu:wght@300 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Tapestry&display=swap');

* {
    font-family: Ubuntu;
    font-weight: 300;
    margin: 0px;
    padding: 0px;
}

.descrição,
.link {
    text-align: center;
    font-size: 20px;
}

.home {
    height: 100vh;
    background-image: linear-gradient(to right, #4b423d, #6b5e58, #a08d83fb);
    color: #cfd4da;
}


.titulo {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 60px;
    font-weight: 500;
    padding: 15px 0px;
}

nav {
    position: relative;
    margin-top: 10px;
}

nav ul {
    max-width: 700px;
    min-width: 350px;
    display: flex;
    margin: auto;
    justify-content: space-around;
}

nav ul li {
    list-style: none;
    padding: 5px 10px;
    
}

nav ul li a {
    padding: 3px;
    border-radius: 3px;
    text-decoration: none;
    color: #cfd4da;
}

a::before {
    content: "\1F4D6\00A0";
}

nav ul li a:hover {
    text-decoration: underline;
    color: #4b423d;
    background-color: #cfd4da;
}

#capa {
    position: relative;
    max-width: 700px;
    min-width: 350px;
    margin: 5px auto;
    background-color: #cfd4da;
}

#livro {
    width: 100%;
}

article {
    max-width: 700px;
    min-width: 350px;
    font-size: 1.1em;
    margin: auto;
    box-shadow: 0px 7px 7px rgba(15, 15, 13, 0.3);
}

h2 {
    font-weight: 500;
}

p {
    padding: 10px;
}

section li {
    list-style-position: inside;
    line-height: 1.2em;
    padding: 5px;
    text-align: justify;
    color: black;
}

.igredientes,
.preparo,
.receitas{
    background-color: white;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}

.receitas {
    font-size: 24px;
    color: #4b423d;
}

.indice {
    text-align: center;
    margin-top: 10px;
    font-size: 36px;
    color: #cfd4da;
    background-color: #4b423d;
    height: 60px;
    border-radius: 5px;
    padding: 1px;
}

.foto-receita {
    position: relative;
    width: 100%;
}

.foto {
    display: block;
    width: 95%;
    margin: auto;
}

.bolo_de_cenoura {
    background-color: #e99c02;
}

#bolo-de-cenoura {
    background-color: #321b15;
    color: #e99c02;
}

.macarrão {
    background-color: #ebcb82;
}

#macarrao {
    background-color: #a2a71e9c;
}

.tacos {
    background-color: #c1c497;
}

#tacos {
    background-color: #dfcaab;
}

a.link{
    padding: 0px 5px;
    line-height: 35px;
    color: blue;
    text-decoration: none;
    margin-left: 10px;
}

a.link:hover{
    color: darkblue;
    text-decoration: underline;
}

a.link:active{
    color: lightslategray;
}

a.link::before{
    content: "🏠\00a0";
}